@font-face {
    font-family: 'fuenteEspecial';
    src: url('fonts/Mantinia.otf') format('opentype');
}

/*TODO Estilos generales    */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.1em;
    background-image: url("media/img/fondo.jpg");
    background-color: black;
}

section {
    background-image: url("media/img/fondo.jpg");
}



/*TODO      Estilos del nav                */
.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: #041616;
    border-radius: 10px;
    opacity: 1;
    color: #DFC997;
}

nav {
    background-color: #081f1f;
    opacity: 0.8;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

.navbar-toggler{
    border: 2px solid rgba(255, 255, 255, 0.527);
}


/*TODO      Estilos del landing         */

.landing {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: var(--bg);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 10s forwards;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*TODO          Estilos para la pagina de personajes        */
/*TODO Estilo de fuente para los nombres de los personajes */
.nombre {
    font-family: 'fuenteEspecial';
}

.aumentar {
    transition: transform 3s ease;
}

.aumentar:hover {
    transform: scale(1.025);
}